<div
  class="flex flex-wrap sm:flex-nowrap justify-center m-2 group/task-item items-center gap-4 rounded-lg bg-white dark:bg-gray-800 px-4 py-2 min-h-[72px] border border-transparent hover:border-gray-200 dark:hover:border-gray-700 transition-all"
>
  <div class="flex items-center gap-4">
    <div class="flex size-7 items-center justify-center">
      <input
        class="h-5 w-5 rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-900 border-2 text-primary checked:bg-primary checked:border-primary focus:ring-0 focus:ring-offset-0 focus:border-primary"
        type="checkbox"
        (change)="onChecke($event)"
        [checked]="task.status === 'Completado'"
      />
    </div>
    <div class="flex flex-col justify-center">
      <p
        class="text-[#333333] dark:text-gray-100 text-base font-medium leading-normal line-clamp-1"
      >
        {{ task.title }}
      </p>
      <p class="text-gray-500 dark:text-gray-400 text-sm font-normal leading-normal line-clamp-2">
        {{ task.createAt }}
      </p>
    </div>
  </div>
  <div class="flex gap-2">
    @if(task.status === "Completado"){
    <span class="material-symbols-outlined text-lg bg-green-300 rounded-lg">check</span>
    }@else {
    <span class="material-symbols-outlined text-lg bg-yellow-200 rounded-lg">pending</span>
    }
  </div>
  <div class="flex gap-1">
    <a [routerLink]="['/task/gestion', `${task.title?.toLowerCase()}`]" [state]="{ id: task.id }">
      <button
        class="cursor-pointer p-2 rounded-md hover:bg-gray-100 dark:hover:bg-gray-700 text-gray-500 dark:text-gray-400"
      >
        <span class="material-symbols-outlined text-lg">edit</span>
      </button>
    </a>
    <button
      class="cursor-pointer p-2 rounded-md hover:bg-gray-100 dark:hover:bg-gray-700 text-gray-500 dark:text-gray-400"
      (click)="deleteTask(task.id)"
    >
      <span class="material-symbols-outlined text-lg">delete</span>
    </button>
  </div>
</div>
